@use "../variables.scss" as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-surface-default;
  padding: $padding-xl;
  grid-column: 1 / span 12;
  grid-template-rows: 1;
}

.NavigationDrawer {
  background-color: $color-surface-default;
  grid-column: 1/3;
}

.MainContent {
  background-color: $color-surface-subdued;
  border-radius: $border-radius-container-l 0 0 0;
  border: $border-default-subdued;
  grid-column: 3 / 12;
  margin: 0 $padding-m 0 0;
}
