@use "../variables.scss" as *;

.MenuItem-container {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-container-s;
}

.MenuItem-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-surface-default;
  padding: $padding-m;
  color: $color-text-secondary;
  font: $font-scale-button-m;
  transition: 0.3s ease-in-out;
}

.MenuItem-header:focus-visible {
  color: $color-text-primary-inverse;
  background-color: $color-surface-brand;
  transition: 0.3s ease-in-out;
  // outline: none;
}

.MenuItem-content {
  display: flex;
  flex-direction: column;
  gap: $spacing-vertical-m;
  padding: $padding-l;
  color: $color-text-secondary;
  font: $font-scale-paragraph-medium-m;
  border-left: $border-default-subdued;
  margin-left: $spacing-horizontal-m;
}
